{% extends "layout.html" %}

{% block title %}Archives pour {{ entry.year }}{% endblock %}

{% block navigation_class %}archives{% endblock %}

{% block body %}
  <h1><a href="{{ link_to('blog_archive') }}" title="Archives">Archives</a> pour {{ entry.year }}</h1>

  <ul class=blog-archive>
    {%- for subentry in entry.months %}
      <li><a href="{{ link_to('blog_archive', year=entry.year,
              month=subentry.month) }}" title="{{ subentry.month_name }}">{{ subentry.month_name }}</a>
        — {{ subentry.count }} {{ 'billet' if subentry.count == 1 else 'billets' }}
    {%- endfor %}
  </ul>
{% endblock %}
