/* ****************************************************
@file         style.css
@description  Main stylesheet
vim: set et ts=4 sts=4 fdm=marker fenc=utf-8:
 ***************************************************** */

/* @section GENERIC ELEMENTS {{{
 ******************************************************************************/

article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section { 
    display: block; 
}

body {
    font: 18px/25px 'Palatino', 'Palatino Linotype', 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
    color: #555;
    border-top: 6px solid #36A862;
}

.body a {
    color: #1D4508;
}

p,div.line-block,ul,ol,pre {
    margin: 25px 0 25px 0;
}

dt {
    margin: 25px 0 16px 0;
    padding: 0;
}

dd {
    margin: 16px 0 25px 40px;
    padding: 0;
}

ul ol,ol ul,ul ul,ol ol {
    margin: 10px 0;
    padding: 0 0 0 40px;
}

li {
    padding: 0;
}

#entry table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    background: #fafafa;
}

#entry td,th {
    padding: 2px 12px;
    border: 1px solid #ddd;
}

/*}}}*/

/* @section HEADLINES {{{
 ******************************************************************************/

h1,h2,h3,h4,h5,h6 {
    font-family: 'Vollkorn', 'Georgia', serif;
    font-weight: normal;
    color: #222;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a, div.comment-count a {
    text-decoration: none;
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover, div.comment-count a:hover {
    text-decoration: underline;
}

h1.title {
    width: 560px;
}

h1,h2 {
    margin: 0 0 25px 0;
}

h1 {
    font-size: 48px;
    line-height: 52px;
}

h2 {
    font-size: 36px;
    line-height: 40px;
}

/*}}}*/

/* @section GLOBAL LAYOUT {{{
 ******************************************************************************/

div.container {
    width: 950px;
}

h1#logo {
    margin-top: 40px;
    margin-left: 180px;
    margin-bottom: 40px;
    float: left;
    background-position: 0 0;
    text-indent: -500em;
    width: 247px;
}

div.body, h1#logo, #main-footer {
    margin-left: 180px;
}

div.body {
    min-height: 400px;
    clear: both;
}

h1#logo,
h1#logo a {
    height: 102px;
}

h1#logo a {
    display: block;
}

/*}}}*/

/* @section NAVIGATION MENU {{{
 ******************************************************************************/

#main-navigation {
    left: 0;
    position: fixed;
    width: 100px;
    background-color: #36A862;
    padding-bottom: 6px;
}

#main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#main-navigation ul li {
    width: 100px;
    display: block;
    margin: 0;
    text-indent: -500em;
    padding: 15px 0;
}

#main-navigation ul li a {
    margin: 0 auto;
    width: 68px;
    height: 41px;
    background-repeat: no-repeat;
}

#main-navigation ul li:hover,
#main-navigation ul li.selected,
#main-navigation.about ul li.about,
#main-navigation.index ul li.home,
#main-navigation.tags ul li.tags,
#main-navigation.archives ul li.archives,
#main-navigation.entry ul li.home {
    background-color: #009440;
}

#main-navigation ul li.home a {
    background-position: 0 -111px;
}

#main-navigation ul li.about a {
    background-position: 0 -160px;
}

#main-navigation ul li.feed a {
    background-position: 0 -207px;
}

#main-navigation ul li.twitter a {
    background-position: 0 -255px;
}

#main-navigation ul li.apil a {
    background-position: 0 -303px;
}

#main-navigation ul li.tags a {
    background-position: 0 -351px;
}

#main-navigation ul li.archives a {
    background-position: -80px -255px;
}

/*}}}*/

/* @section FOOTER {{{
 ******************************************************************************/

#main-footer {
    border-top: 1px dotted #ddd;
    padding: 20px 0;
    margin-top: 42px;
    font-size: 16px;
    color: #888;
    text-align: center;
}

#creative-commons a, #apluggedinlife a {
    background-repeat: no-repeat;
    text-indent: -500em;
}

#creative-commons {
    float: left;
    margin-right: 85px;
}

#creative-commons a {
    background-position: -79px -175px;
}

#creative-commons, #creative-commons a {
    height: 42px;
    width: 178px;
}

#apluggedinlife {
    float: right;
}

#apluggedinlife, #apluggedinlife a {
    height: 50px;
    width: 30px;
}

#apluggedinlife a {
    background-position: -255px -111px;
}

#copyright {
    float: left;
    width: 250px;
    text-align: center;
}

/*}}}*/

/* @section CODE FORMATING {{{
 ******************************************************************************/

pre, code, tt {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono',
    'Monaco', 'Courier New';
    font-size: 0.82em;
}

pre {
    line-height: 1.3;
    border: 1px solid #ddd;
    padding: 10px;
    background: #fafafa;
}

code, tt {
    background: #eee;
}

/*}}}*/

/* @section ENTRY LAYOUT {{{
 ******************************************************************************/

h1 + p.date {
    margin-top: -28px;
    font-style: italic;
}

div.entry-overview {
    width: 700px;
}

div.entry-overview:not(:last-child) {
    margin-bottom: 25px;
}

div.entry-overview h1,
div.entry-overview div.comment-count,
div.entry-overview div.summary,
div.entry-overview div.summary p {
    display: inline;
    line-height: 25px;
}

div.entry-overview h1 {
    margin: 0;
    font-size: 20px;
}

div.entry-overview div.summary,
div.entry-overview div.date,
div.entry-overview div.summary p {
    margin: 0;
    padding: 0;
}

div.entry-overview div.detail {
    margin-left: 140px;
}

div.entry-overview div.date {
    float: left;
    width: 120px;
    color: #888;
    text-align: right;
    font-style: italic;
}

div.entry-overview h1:after {
    content: " —";
}

div.entry-overview div.comment-count:before {
    content: "— ";
}

ul.tagcloud {
    font-size: 16px;
    list-style: none;
    margin: 36px 0px;
    padding: 0px;
}

ul.tagcloud li {
    display: inline;
    margin: 0px;
    padding: 0px 10px;
}

div.entry-information {
    border-bottom: 1px dotted #ddd;
    border-top: 1px dotted #ddd;
    padding: 10px 0;
    margin: 30px 0px;
}

div.entry-information p.tags {
    margin: 0 0 10px;
}

/*}}}*/

/* @section GENERIC CLASSES {{{
 ******************************************************************************/

img.align-center {
    margin: 15px auto;
    display: block;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.icon {
    background-image: url('/static/sprite.png');
    background-repeat: no-repeat;
    background-color: transparent !important;
    display: block;
    height: 16px;
    width: 16px;
}

/*}}}*/

/* @section PAGINATION {{{
 ******************************************************************************/

div.pagination {
    margin: 36px 0 0 0;
    text-align: center;
    vertical-align: middle;
}

div.pagination strong {
    font-weight: normal;
    font-style: italic;
}

.previous-link {
    background-position: -80px -111px;
}

.next-link {
    background-position: -111px -111px;
}

.previous-link, .next-link {
    display: inline-block;
    width: 31px;
    height: 31px;
    text-indent: -500em;
    position: relative;
    top: -4px;
}

.disabled {
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    -o-opacity: 0.5;
}

/*}}}*/
